<footer class="f-info">
    <div class="f-info-links">
        <a href="#">©GuestNext Private Limited</a>
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>
    </div>
    <div class="f-info-socials">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
</footer>
